<mat-card>
  <mat-toolbar color="primary">
    <span style="text-align: center;">Lista de Compras</span>
  </mat-toolbar>
  <form class="compra-form" #form="ngForm" (ngSubmit)="onSubmit(form)">
    <mat-form-field class="compra-full-width" appearance="fill">
      <mat-label>Item da Compra</mat-label>
      <input type="text" id="title" name="title" matInput [errorStateMatcher]="matcher"
        placeholder="Ex: 1 Arroz" ngModel>
      <button type="submit" matSuffix mat-icon-button>
        <mat-icon>add</mat-icon>
      </button>
      <mat-error *ngIf="titleFormControl.hasError('required')">
        Item é <strong>obrigatorio</strong>
      </mat-error>
    </mat-form-field>
  </form>
  <mat-list class="compra-list" role="list" *ngFor="let compra of compras">
    <mat-list-item role="listitem">
      <div mat-line [ngClass]="compra.complete ? 'done' : ''">{{ compra.title }}</div>
      <button mat-icon-button color="secondary" (click)="check(compra.id)">
        <mat-icon>check</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="delete(compra.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</mat-card>
