.compra-form {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.compra-form input {
  width: 100%;
}

.compra-full-width {
  width: 100%;
}

.done {
  text-decoration: line-through;
}

.loading-spinner {
  padding: 25px;
  background: rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}
