<mat-card>
  <mat-toolbar color="primary">
    <span style="text-align: center;">Lista de Compras</span>
  </mat-toolbar>
  <mat-list class="compra-list" role="list" *ngFor="let compra of compras">
    <mat-list-item role="listitem">
      <div mat-line [ngClass]="compra.complete ? 'done' : ''">{{ compra.title }}</div>
      <button mat-icon-button color="secondary" (click)="check(compra.id)">
        <mat-icon>check</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="delete()">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</mat-card>
